<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main  w-full min-h-screen p-5 bg-zinc-900">
        <a class="text-blue-500 inline-block mb-10" href="">Go Back To Home</a>
        <h1 class="text-3xl text-white"> <%= filename %> </h1>
        <p class="text-xl mt-2 text-white"><%= filedata %></p>

       
            

    </div>
    




    <script src="/javascript/index.js"></script>
</body>
</html>